*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.exe
*.pdb

/.vs
/.vscode
/build
/CMakeFiles
/Debug
/NRC-HPM-Renderer.dir
/Release
/x64

CMakeCache.txt
cmake_install.cmake
imgui.ini

