*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.exe
*.pdb
*.log

/.vs
/.vscode
/build
/CMakeFiles
/Debug
/NRC-HPM-Renderer.dir
/Release
/x64
/SOURCES
/RelWithDebInfo
/output

CMakeCache.txt
cmake_install.cmake
