*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

/.vs
/.vscode
/build
/CMakeFiles
/Debug
/NRC-HPM-Renderer.dir
/Release
/x64
/data
/output

CMakeCache.txt
cmake_install.cmake
imgui.ini

